<app-user-heart-beat></app-user-heart-beat>
<h2>Currently in Development</h2>
<h3>This page is activly in development. I'm currently updating the video feeds to work on multiple browsers/devices (best viewed in Chrome for now).
    As a result, there may be no working video feeds, the command-receiving server is not running, and robot arm itself is currently disabled. Check in
    later for updates.
</h3>
<div class="section">
    <div class="container-label" >
        <i (click)="toggleIntro()" class="material-icons" [@rotatedState]='rotateStateInfo'>double_arrow</i>
        <span>Welcome to robotarm.io</span>
    </div>
    <div class="container-text" *ngIf="showInfo" @slideDownUp>
        Control a robot arm remotely with an intuitive user interface. Adjust the sliders
        and hit 'Engage' to issue your commands. The robotic arm will move periodiaclly 
        based on the average of the input it receives from all of the commanders.
    </div>    
</div>
<div class="section">
    <div class="container-label" >
        <i (click)="toggleObjective()" class="material-icons" [@rotatedState]='rotateStateObjective'>double_arrow</i>
        <span>Objective</span>
    </div>
    <div class="container-text" *ngIf="showObjective" @slideDownUp>
        Get the ball in the hoop!
        <br>
        <br>
        It seems simple, but lining everything up perfectly is quite tricky. 
        The scoreboard reflects the number of times it's been done - will you revel in glory of seeing 
        that sweet, sweet number increase? Or, are you doomed to spend the rest of your life only wondering? 
        <br>
        <br>
        Note that there will be different objectives in the future - come back sometime and check it out!
    </div>    
</div>
<div>
    <div class="container-label">Live Stream</div>
</div>
<div class="container stream-container">
    <app-video-stream *ngFor='let stream of streams' class="stream-item item" [stream]='stream'></app-video-stream>
</div>
<div>
    <div class="container-label">Controls</div>
    <div class="server-status-message">{{getButtonText()}}</div>
</div>
<div class="container">
    <div class="item" *ngFor="let control of controls">
        <app-control class="item" [control]='control'></app-control>
    </div>
</div>
<div class="container">
    <button [disabled]="locked()" (click)="issueCommand()" [title]="getButtonText()">
        <i *ngIf='aboutToFire()' class="material-icons" style="font-size: 18px;color: #e0ec35">warning</i>
        Engage
        <i *ngIf='locked()' class="material-icons" style="font-size: 18px;color: #000000">lock</i>
    </button>
</div>